*{
  margin: 0;
}

/**************************CSS for Header.js file*********************/

.wrap{
  width:100%;
  height: 100vh;
  display:grid;
  grid-template-rows: 38px auto;
}
main{
  display: grid;
  grid-template-columns: 265px auto;
}
#first-part{
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
}
#second-part{
  display: flex;
  padding-right: 16px;
  position: absolute;
  right: 0;
  top: 5.5px;
}
#wrap-header{
  background: #350d36;
  color: white;
  display:flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
}

#search-container{
  min-width: 400px;
  margin-left: 16px;
  margin-right: 16px;
}
#search{
    box-shadow: inset 0 0 0 1px rgb(104 74 104);
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

#search-input{
    background-color: transparent;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

#search-input:focus {
    outline: none;
}
.user-image{
    height: 20px;
    width: 30px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
#name{
  padding-right: 16px;
}


/****************************CSS for Sidebar.js file*****************************/

#wrap-sidebar{
  background: #3F0E40;
}

#wrap-workSpace{
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 19px;
  justify-content: space-between;
  border-bottom: 1px solid  #532753;
}
#sidebar-name{

}
#sidebar-NewMassage{
  width: 36px;
  height: 36px;
  background: white;
  color: #3F0E40;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

#Main-Channels{
  padding-top: 20px;
}

#MainChannels-Item{
  color: rgb(188,171,188);
  display: grid;
  grid-template-columns: 15% auto;
  height: 28px;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
}

#MainChannels-Item:hover{
  background: #350D36;
}

#channels-wrap{
  color: rgb(188,171,188);
  margin-top: 10px;
}
#newChannels-wrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 28px;
   padding-left: 19px;
   padding-right: 19px;
}

#channelLists{
  margin-top: 10px;
}
#Channels-Item{
  height: 28px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
}
#Channels-Item:hover{
  background: #350D36;
}

/********************************CSS for chat.js file*****************************/
#chatBox-wrap{
  display: grid;
  grid-template-rows: 64px auto min-content;
  min-height: 0;
  background-image: url("https://www.freegreatpicture.com/files/146/24228-colorful-high-resolution-background.jpg");
  background-position: bottom;
}

#ChannelDetails{
  display: flex;
  align-items: center;
  color: #606060;

}
#ChannelDetails>div{
  padding-right: 10px;
}
#chatChannel-Name{
  font-weight: 700;
}

#chatChannel-Info{
  font-weight: 400;
  color: #606060;
  font-size: 13px;
  margin-top: 8px;
}

#chatHeader-wrap{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(83, 39, 83,.13);
  justify-content: space-between;
}

/************************************* CSS for ChatInput.js*************************** */

#chatInput-wrap{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
}

#messageInput-wrap{
  border: 1px solid #8D8D8E;
  border-radius: 4px;
}

#messageInput-wrap>form {
  display: flex;
  height: 42px;
  align-items: center;
  padding-left: 10px;
}
#messageInput-wrap>form>input {
  flex: 1;
  border: none;
  font-size: 13px;
  margin-right: 20px;
  background-color: transparent;
}
#messageInput-wrap>form>input:focus {
      outline: none;
  }

#messageContainer{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


#sendButton{
    background: #668cc4;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    border: none;
}
.MuiSvgIcon-root {
  width: 18px;
}
#sendButton:hover {
  background: #5797f7;
}

/***************************************CSS for ChatMessage.js**************************/
#chatMessage-wrap{
  padding: 8px 20px;
  display: flex;
  align-items: center;
}
#chatMessage-wrap:hover{
  background: rgb(218, 176, 218);
}
#user-Avatar{
  width: 50px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
#user-Avatar>img {
  width: 100%;
}
#messageContent{
  display: flex;
  flex-direction: column;
}

#user-Name{
  font-weight: 900;
  font-size: 15px;
  line-height: 1.4;
}
#user-Name> span {
  margin-left: 8px;
  font-weight: 400;
  color: rgb(97,96,97);
  font-size: 13px;
}


/******************* CSS for Login.js******************/

#login-wrap{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-content{
    background: white;
    padding: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

#login-content>img{
  height: 100px;
}

#signIn-button{
    margin-top: 50px;
    background-color: #0a8d48;
    color: white;
    border: none;
    height: 40px;
    width: 145px;
    padding-left: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
}

#signIn-button:hover{
  background-color: #379965;
}
